---
export interface Props {
  title?: string; // Titel van de video
  description?: string; // Beschrijving van de video
  sources: string[]; // Lijst met video-URL's (meerdere formaten mogelijk)
  subtitle?: string; // Ondertitel van de video
  thumb?: string; // Thumbnail (optioneel)
  size: "full" | "page" | "large" | "inline" | "none"; // Grootte opties
  showCaption?: boolean; // Optie om figcaption te tonen of te verbergen
}

const {
  title,
  description,
  sources,
  subtitle,
  thumb,
  size,
  showCaption = true,
} = Astro.props;
---

<figure class={`video-block ${size}`}>
  <div class="video-container">
    <video
      poster={thumb}
      aria-label={title}
      preload="metadata"
      autoplay
      muted
      loop
      playsinline
      aria-label={title}
    >
      {sources.map((source) => <source src={source} type="video/mp4" />)}
       Your browser does not support the video tag.
    </video>
  </div>
  {
    showCaption && (
      <figcaption>
        {title && (
          <div class="title">
            <h4>{title}</h4>
            {subtitle && <h4 class="subtitle">{subtitle}</h4>}
          </div>
        )}
        {description && <p>{description}</p>}
      </figcaption>
    )
  }
</figure>

<style>
  .video-block {
    display: block;
    width: 100%;
    text-align: center;
  }

  .video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-size: var(--fs--2);
    text-align: left;
    text-wrap: balance;
  }

  figcaption .title {
    display: flex;
    gap: 0.125em;

    h4 {
      font-size: var(--fs--1);
      font-weight: 600;
      line-height: 100%;
    }
  }

  figcaption .subtitle {
    font-style: italic;
  }

  figcaption p {
    color: hsl(from var(--font-color) h s l / 70%);
    line-height: 133%;
    margin-top: 0.25em;
  }

  .none {
    width: 100%;
  }
</style>
